@use '../../styles/variables.scss' as v;

.tabs {
  display: flex;
  justify-content: center;
  // margin-top: 0.5rem;
  // margin-bottom: 2rem;
  width: 100%;
  border: none;
}

.tab {
  flex: 1;
  max-width: 200px; // limita cada aba para não esticar demais
  padding: 0.75rem 1rem;
  text-align: center;
  background-color: v.$white;
  font-family: v.$font-primary;
  font-weight: 500;
  color: v.$cinza-escuro;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: all 0.2s ease;

  &:not(:last-child) {
    border-right: none;
  }

  &:hover {
    background-color: v.$light-bg;
  }

  &.active {
    color: v.$primaria-clara;
    font-weight: bold;
  }
}
