// Cores
$primary: #7E33E0;
$light-bg: #F6F5FF;
$dark-text: #151875;
$white: #FFFFFF;
$cinza-claro: #9F9F9F;
$cinza-escuro: #4E4E4E;
$primaria: #3019B2;
$primaria-clara: #3442B5;
$destaque: #F7CA11;
$bege: #F6F5F2;


// Fontes
$font-primary: 'Poppins', sans-serif;