// Cores
$primary: #7E33E0;
$secondary: #FB2E86;
$light-bg: #F6F5FF;
$dark-text: #151875;
$white: #FFFFFF;

// Fontes
$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Poppins', sans-serif;

// Espaçamentos
$spacing-unit: 8px;
$section-padding: 40px;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;