@use '../../../styles/variables' as v;

.promoBanner {
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('@img/banner.jpg');
  background-size: cover;
  background-position: center;
  width: 90em;
  height: 390px;
  display: flex;
  align-items: center;
  padding-left: 10%;
  position: relative;

  .content {
    max-width: 822px;
    z-index: 2;
    color: v.$white;

    h2 {
      font-size: 48px;
      margin-bottom: 15px;
      line-height: 1.2;

    }

    p {
      font-weight: 400;
      font-size: 2em;
      margin-bottom: 25px;
    }

    span {
      color: v.$destaque;
    }

    .promoButton {
      background: v.$destaque;
      color: v.$dark-text;
      border: none;
      padding: 12px 30px;
      border-radius: 3px;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.3s;
      font-size: 1rem;

      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 12px rgba(v.$primaria, 0.3);
      }
    }
  }
}